<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="org.zywang.myspring.test.bean.UserService" scope="prototype">
        <property name="uId" value="10001"/>
        <property name="location" value="CA"/>
        <property name="company" value="Google"/>
        <property name="userDao" ref="proxyUserDao"/>

    </bean>

    <bean id="proxyUserDao" class="org.zywang.myspring.test.bean.ProxyBeanFactory" />

</beans>